.reg-page{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    position: absolute;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reg-page .box-reg{
    width: 40%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.reg-page .box-reg .input-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.reg-page .box-reg .input-box input{
    width: 48%;
    margin: 20px 10px 0 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

.reg-page .box-reg .input-box input:focus{
    outline: none;
}


.reg-page .box-reg p{
    font-size: 16px; 
    margin: 20px 0;
}


.reg-page .box-reg button{
    padding: 10px 20px ;
    width: 30%;
    border: none;
    background-color: teal;
    color: #fff;
}